<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
  The <a href="http://flocfloc.herokuapp.com">Floc</a>
  is a  master’s thesis project by <a href="http://www.adriankuciel.pl">Adrian Kuciel</a> done after studies at Jegiellonian University in Cracow.
</p>