<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Feel free to contat me at any time:
  <a href="http://www.adriankuciel.pl">Adrian Kuciel</a>.
  <br/>
  To get help on this simple app, write me an email:
  <a href="mailto:kontakt@adriankuciel.pl">kontakt@adriankuciel.pl</a>.
</p>