@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

$grayMediumLight: #eaeaea;
$grayLight: #eaeaea;
$grayLighter: #eaeaea;
$gray: #eaeaea;
$grayDarker: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  height: 50px;
}

#logo img {
height: 40px;
padding-bottom: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  @include box_sizing;
}



input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/*
.field_with_errors {
  @extend .control-group;
  @extend .error;
}

 users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top:20px;
}

#slider-thumbs{
  float: right;
}

.thumbnail {
    padding: 0;
}

.thumbnail>img{
    width: 100%;
    max-height: 60px;
}

.carousel {
    width: 100%;
    height: 304px;
    border: 2px solid $grayLighter;
}

.carousel-inner, .carousel-inner>.item {
    width:100%;
    height: 300px;
    border: 2px solid $grayLighter;
    cursor:zoom-in;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display:block;
    margin:auto;
    width: auto;
    max-height: 300px;

}

.item.active a{
    cursor:zoom-in;
}

.location-thumbnail {
  width: auto;
  max-width: 100px;
  height: auto;
}

#search_tag, #search_near {
  border: 1px solid #bbb;
  margin-bottom: -30px;
  @include box_sizing;
}


#thumb-preview{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
  }

#thumb-preview img {
  width: 300px;
  height: auto;
}

.location {  
  height: 80px;
}

.edit-photo-item {
  float: left;
  position: relative; 
  width: 150px;
}

.edit-photo-item p { 
  position: absolute; 
  left: 0; 
  top: 0; 
  width: 100%;
  text-align: center;
  color: #FFF; 
  background-color: #ff4136;
}

#address-input {
  width: 300px;
}

#address-input:focus {
  border-color: #4d90fe;
}

.avatar{
  height: 40px;
  width: 40px;
  float: left;
  margin-right: -10px;
  margin-top: 5px;
  z-index: 100;
}

.avatar img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.big_avatar{
  height: 80px;
  width: 80px;
  z-index: 100;
  float: left;
}

.big_avatar img{
  height: 80px;
  width: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}


.hero-img {
  background-size: cover;
  height: 100vh; }

  .hero-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/images/hero_bg.jpg");
    background-size: cover;
    opacity: .9; }

.home-hero {
  background-image: linear-gradient(to bottom right, #1b1b1b, #1b1b1b);
  opacity: .8;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  color: white;
  margin-top: 30px;
  text-align: center
}

.hero-login{
  width:25%;
  display: inline-block;
  color: black;
}

.hero-fb-login {
  width: 100%;
}

.hero-fb-login img {
  width: 100%;
  opacity: 100%;
}

div.hero-title {
padding-top: 15px;
padding-bottom: 25px;
}

#user-nav-dropdown.dropdown-toggle {
background-color: transparent;

}

.or {
color: white;
}

 
