<% provide(:title, 'All locations') %>
<h1>All locations</h1>


<%= will_paginate %>

<table class="table table-striped">

  <%= render @locations %>

</table>

<%= will_paginate %>



<script type="text/javascript">
	this.imagePreview = function(){	
		/* CONFIG */
			
			xOffset = 10;
			yOffset = 30;
			
			// these 2 variable determine popup's distance from the cursor
			// you might want to adjust to get the right result
			
		/* END CONFIG */
		$("a.location-thumbnail-preview").hover(function(e){
			this.t = this.title;
			this.title = "";	
			var c = (this.t != "") ? "<br/>" + this.t : "";
			$("body").append("<p id='thumb-preview'><img src='"+ this.href +"' alt='Image preview' />"+ c +"</p>");								 
			$("#thumb-preview")
				.css("top",(e.pageY - xOffset) + "px")
				.css("left",(e.pageX + yOffset) + "px")
				.fadeIn("fast");						
	    },
		function(){
			this.title = this.t;	
			$("#thumb-preview").remove();
	    });	
		$("a.location-thumbnail-preview").mousemove(function(e){
			$("#thumb-preview")
				.css("top",(e.pageY - xOffset) + "px")
				.css("left",(e.pageX + yOffset) + "px");
		});			
	};


	// starting the script on page load
	$(document).ready(function(){
		imagePreview();
	});
</script>