<% provide(:title, @location.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= @location.photos.first.photo.url %>
      </h1>
		Photos:
		<% @location.photos.each do |pic| %>
			<%= image_tag pic.photo.url %>
		<% end %>
	  </br>
		Tags:
		<%= raw @location.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')%>
	  </br>
		User:
		<%= @location.user.name %>
    </section>
  </aside>
</div>