<% provide(:title, @location.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @location.name %>
      </h1>
	  user:
	  <%= @location.user.name %>
    </section>
  </aside>
</div>