<% provide(:title, 'User locations') %>
<h1>  <%=@user.name%>'s locations</h1>

<%= will_paginate %>

<table class="table table-striped">
<tr class="users">
  <%= render @locations %>
</tr>
</table>

<%= will_paginate %>